<div class="form-group">
    <label for="name">Nom de la Liste</label>
    <input
        type="text"
        id="name"
        name="name"
        value="<%= list.name ? list.name : '' %>"
        required
    />
</div>
