<div class="flex flex-col items-center justify-center">
    <form action="search" method="POST" class="bg-white border border-oceanBlue rounded-2xl p-10 flex flex-col gap-4 mt-10">
        <div>    
            <label for="">Nom de la liste</label>
            <input type="text" name="name" placeholder="" class="border border-oceanBlue rounded-lg ml-2" required>
        </div>
        <button type="submit" class="bg-lightBlue rounded-2xl py-2 p-4 hover:bg-oceanBlue hover:text-white">Rechercher</button>
    </form>
    <% if (results) { %>
        <h1 class="font-bold text-4xl mt-6 mb-2 text-deepBlue">Résultats</h1>
        <div class="mt-6 flex flex-col w-full max-w-lg">
        <% results.forEach(r => { %>
            <a
                    class="border bg-white border-oceanBlue rounded-md p-4 mb-4 text-center text-lg font-medium text-deepBlue hover:bg-oceanBlue hover:text-white hover:border-oceanBlue transition-all"
                    href="/list/<%= r._id %>"
            >
                <%= r.name %>
            </a>
        <% }) %>
        </div>
    <% } %>

    </form>

    <h1 class="font-bold text-4xl mt-6 mb-2 text-deepBlue">Toutes les listes</h1>
    <div class="mt-6 flex flex-col w-full max-w-lg">
        <% lists.forEach(list => { %>
            <a
                    class="border bg-white border-oceanBlue rounded-md p-4 mb-4 text-center text-lg font-medium text-deepBlue hover:bg-oceanBlue hover:text-white hover:border-oceanBlue transition-all"
                    href="/list/<%= list._id %>"
            >
                <%= list.name %>
            </a>
        <% }) %>
    </div>
</div>