<h2>New List</h2>
<form action="list" method="POST">
    <label for="">Name</label>
    <input type="text" name="name" placeholder="List Name">
    <button type="submit">Create</button>
</form>
<% lists.forEach(list => { %>
    <div>
        <a href="/list/<%= list._id %>/"><%= list.name %></a>
    </div>
<% }) %>
