<main class="flex flex-col text-center justify-center items-center w-full">

    <% if(isAuthenticated) {%>
        <h2 class="font-bold text-4xl mt-6 text-deepBlue">Nouvelle liste</h2>
        <form action="/list" method="POST" class="bg-white border border-oceanBlue rounded-2xl p-10 flex flex-col gap-4 mt-10">
            <div>
                <label for="">Nom de la liste</label>
                <input type="text" name="name" placeholder="" class="border border-oceanBlue rounded-lg ml-2">
            </div>
            <button type="submit" class="bg-lightBlue rounded-2xl py-2 p-4 hover:bg-oceanBlue hover:text-white">Créer</button>
        </form>
        <h1 class="font-bold text-4xl mt-6 mb-2 text-deepBlue">Mes listes</h1>
        <div class="mt-6 flex flex-col w-full max-w-lg">
            <% lists.forEach(list => { %>
                <a
                        class="border bg-white border-oceanBlue rounded-md p-4 mb-4 text-center text-lg font-medium text-deepBlue hover:bg-oceanBlue hover:text-white hover:border-oceanBlue transition-all"
                        href="/list/<%= list._id %>"
                >
                    <%= list.name %>
                </a>
            <% }) %>
        </div>

    <%} else {%>
            <h1 class="font-bold text-xl mt-6 text-deepBlue">Pour pouvoir crée vos propres listes et rejoindre le classements, vous devez vous <a class="hover:text-oceanBlue" href="/user/signup">crée un compte</a></h1>
    <% } %>
