<header>
    <nav>
        <a href="/">SmartQuiz</a>
        <ul>
            <li>
                <a href="/list">Lists</a>
            </li>
            <li>
                <a href="/flashcard/">Flashcard</a>
            </li>
        </ul>
    </nav>
</header>