<header>
    <nav>
        <a href="/">SmartQuiz</a>
        <ul>
            <li>
                <a href="/list">Lists</a>
            </li>
            <li>
                <a href="/list/new">Add List</a>
            </li>
        </ul>
    </nav>
</header>