<header class="bg-white flex font-parkinsans w-full">
    <nav class="flex p-4 gap-8 items-center w-full">
        <a href="/" class="font-bold text-5xl text-oceanBlue md:text-4xl">SmartQuiz</a>
        <ul class="flex p-4 items-center w-full gap-8">
            <li>
                <a href="/list" class="hover:text-oceanBlue font-bold">Lists</a>
            </li>
            <li>
                <a href="/flashcard/" class="hover:text-oceanBlue font-bold">Flashcard</a>
            </li>
            <li>
                <a href="/test/" class="hover:text-oceanBlue font-bold">Test</a>
            </li>
        </ul>
    </nav>
</header>