<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet">
</head>

<body class="bg-gray-200">
    <main class="flex flex-col text-center">
        <h1 class=" mt-10 text-3xl font-bold">Bienvenue sur notre site <a href="/" class="font-bold text-5xl text-oceanBlue md:text-4xl">SmartQuiz</a></h1>
        <p class="mt-6 text-lg">
            Notre objectif avec SmartQuiz est de rendre l'étude <strong>fun</strong> et <strong>dynamic</strong>
            <br>
            c'est pour cela qu'on a décidé d'ajouter un systeme de points.
            <br>
            Défi tes amis et voit qui est le <strong>MEILLEUR</strong>
        </p>
        <a href="/user/signup" class="mt-6 bg-skyBlue mx-auto px-4 py-2 rounded-2xl">Commencer dès maintenant</a>
        <section class="mx-auto pb-10">
            <h2 class="mt-12 text-2xl font-bold">Voici les différentes fonction du site</h2>
            <div class="flex flex-col gap-4 bg-white mx-auto p-6 rounded-2xl mt-8">
                <a href="/list" class="font-bold underline text-xl hover:text-skyBlue">Les listes</a>
                <p>On peut crée des listes de mot avec a l'intérieur, des clées et des valeurs.<br> Parfait pour y mettre ses listes vocabulaire par example</p>
            </div>
            <div class="flex flex-col gap-4 bg-white mx-auto p-6 rounded-2xl mt-8">
                <a href="/flashcard" class="font-bold underline text-xl hover:text-skyBlue">Les flashcards</a>
                <p>Ca n'a jamais été aussi chouette d'étudier ses cours qu'avec nos flashcards</p>
            </div>
            <div class="flex flex-col gap-4 bg-white mx-auto p-6 rounded-2xl mt-8">
                <a href="/test" class="font-bold underline text-xl hover:text-skyBlue">Les Test</a>
                <p>Une fois qu'on est bien entrainé avec les flashcards, on peut tester ses connaisances <br> en réalisant différents test sur nos listes</p>
            </div>
            <div class="flex flex-col gap-4 bg-white mx-auto p-6 rounded-2xl mt-8">
                <a href="/" class="font-bold underline text-xl hover:text-skyBlue">Le CLASSEMENT</a>
                <p>Le meilleur pour la fin, le classement. <br> Ayes le plus de bonnes réponses possible aux tests pour avoir un maximum de points <br> et battre vos amis</p>
            </div>
        </section>
    </main>
</body>

</html>